<div class="pag">
    <div class="centrado">

        <div class="login-section login-logo">
            <img src="assets/img/globales/logoPositivo.png" alt="Logo">
        </div>

        <div class="login-section login-inputs">
            
            <div>
                <h3>Iniciar sesión</h3>
            </div>
            
            <div>
                <form action="">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="password" name="" id="" placeholder="Contraseña">
                </form>
            </div>
            

            <div class="login-button">
                <button type="submit">Iniciar sesión</button>
                <a href="#">Olvidé mi contraseña</a>
            </div>

        </div>

    </div>
</div>
