body
{
    display: flex;
    background-color: #0f0f0f !important;
}

.root
{
    width: 100%;
}

.pag
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pag-container
{
    width: 90%;
    display: flex;
    justify-content: center;
}