<div class="pag">
    <div class="pag footer-division">
        
        <!-- Primera parte del footer  -->

        <div class="footer-block">

            <div class="footer-section">
                <img src="assets/img/globales/logoPositivo.png" alt="">
            </div>

            <div class="footer-section">
                <h3>Secciones</h3>
                <ul>
                    <li><a routerLink="">Camisas</a></li>
                    <li><a routerLink="">Accesorios</a></li>
                    <li><a routerLink="">Tenis</a></li>
                    <li><a routerLink="">Pantalonetas</a></li>
                    <li><a routerLink="">Hombres</a></li>
                    <li><a routerLink="">Mujeres</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Puede interesarte</h3>
                <ul>
                    <li><a routerLink="">Términos y condiciones</a></li>
                    <li><a routerLink="">Política de privacidad</a></li>
                    <li><a routerLink="">Política de devoluciones</a></li>
                    <li><a routerLink="">Preguntas frecuentes</a></li>
                    <li><a routerLink="">Contáctanos</a></li>
                    <li><a routerLink="">Servicio de soporte</a></li>
                </ul>
            </div>

        </div>

        <div class="footer-block footer-block-news">

            <div class="news-section">
                <div class="news-text">
                    <h3>¡Inscríbete para recibir ofertas y descuentos!</h3>
                </div>
            </div>

            <div class="news-section news-input">
                <input type="email" placeholder="Ingresa tu email">
                <button>Subscribirse</button>
            </div>

        </div>



    </div>
</div>
